// Mobile styles
.header {
	background-image: linear-gradient(135deg, #3dac87 20%, #337bee);
	padding: 10px 5vw;
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;
}

.header__topLeft {
	display: flex;
	align-items: center;
	cursor: pointer;
	& > img {
		margin-right: 15px;
		object-fit: contain;
	}
	& > div {
		font-size: 28px;
		font-weight: 600;
	}
}

.header__topRight {
	display: flex;
	align-items: center;
}

.header__topRightItem {
	display: none !important;
}

.header__menu {
	font-size: 36px !important;
	color: #fff !important;
}

.header__bottom {
	display: block;
}

.header__left {
	margin-bottom: 60px;
}

.header__leftText1 {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 15px;
}

.header__leftText2 {
	color: #fff;
	font-size: 16px;
	margin-bottom: 40px;
}

.header__leftButtons {
	display: flex;
	align-items: center;
	object-fit: contain;
}

.header__button {
	object-fit: contain;
}

.header__button2 {
	width: 150px !important;
	height: 50px !important;
	background-color: #1d6baa !important;
	border: 1px solid #1d6baa !important;
	border-radius: 30px !important;
	color: #fff !important;
	padding: 0 !important;
	padding: 10px !important;
	font-size: 16px !important;
	text-transform: none !important;
	&:hover {
		background-color: #fff !important;
		color: #1d6baa !important;
	}
}

.header__buttonIcon {
	object-fit: contain;
}

.header__right {
	width: 100%;
}

.header__img {
	display: block;
	margin: auto;
	border: 7px solid #c0c0c0a4;
	border-radius: 30px;
	background-clip: padding-box;
	background-color: #fff;
	box-shadow: 30px 40px 30px 1px rgba(0, 0, 0, 0.3);
	transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(-30deg) rotateY(-30deg) rotateZ(0deg)
		skew(-30deg, 0deg);
	z-index: -100;
}

// Tablet styles
@media only screen and (min-width: 600px) {
	.header__left {
		max-width: 70%;
	}

	.header__leftText2 {
		max-width: 70%;
	}

	.header__img {
		border: 10px solid #c0c0c0a4;
		border-radius: 40px;
	}
}

// Desktop styles
@media only screen and (min-width: 992px) {
	.header {
		padding: 10px 5vw 20px 10vw;
	}

	.header__top {
		margin-bottom: 70px;
	}

	.header__topRight {
		display: flex;
		align-items: center;
	}

	.header__topRightItem {
		display: block !important;
		font-size: 16px !important;
		margin: 0 7px !important;
		text-transform: capitalize !important;
		letter-spacing: 1px !important;
		font-weight: 700 !important;
		transition: all 1ms !important;
		color: #fff !important;
		&:hover {
			color: #000000 !important;
			background-color: #ffffff00 !important;
		}
	}

	.header__menu {
		display: none !important;
	}

	.header__bottom {
		display: flex;
	}

	.header__left {
		width: 100%;
		max-width: 100%;
	}

	.header__leftText1 {
		font-size: 52px;
		font-weight: 600;
		margin-top: 80px;
		margin-bottom: 15px;
	}

	.header__leftText2 {
		font-size: 20px;
		margin-bottom: 40px;
	}

	.header__leftButtons {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.header__button2 {
		width: 150px !important;
		height: 50px !important;
		background-color: #1d6baa !important;
		border: 1px solid #1d6baa !important;
		border-radius: 30px !important;
		color: #fff !important;
		padding: 0 !important;
		padding: 10px !important;
		font-size: 16px !important;
		text-transform: none !important;
		&:hover {
			background-color: #fff !important;
			color: #1d6baa !important;
		}
	}

	.header__buttonIcon {
		width: 100%;
	}

	.header__right {
		margin-top: -100px;
	}

	// .header__rightImg{
	// 	background-image: url('../../assets/images/phone1_resized.jpg');
	// 	background-repeat: no-repeat;
	// 	width: 340px;
	// 	height: 650px;
	// 	border: 10px solid #ffffff34;
	// 	border-radius: 40px;
	// 	background-clip: padding-box;
	// 	background-origin: content-box;
	// 	padding: 10px;
	// 	background-color: #030011;
	// }
}
