.VirtualCalls{
    display: flex;
    padding: 100px 100px;
    align-items: center;
    background-image: linear-gradient(to bottom, #66bece, #65b3e0);
}

.VirtualCalls__left{
    display: block;
    margin: auto;
}

.VirtualCalls__img{
    max-width: 400px;
    object-fit: contain;
}

.VirtualCalls__right{
    max-width: 50%;
}

.VirtualCalls__RightText1{
    font-size: 40px;
    display: flex;
}