@use './components/app';
@use './components/comingSoon';
@use './components/header';
@use './components/about';
@use './components/vitals';
@use './components/medications';
@use './components/card';
@use './components/services';
@use './components/diagnosis';
@use './components/moreServices';
@use './components/footer';

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
