@use './components/app';
@use './components/header';
@use './components/about';
@use './components/navbar';
@use './components/askQuestions';
@use './components/virtualCalls';
@use './components/symptomChecker';
@use './components/comingSoon';

*{
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	// font-family: 'Ubuntu', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}
